.four-oh-four{
  font-size: 300px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0;
  background: linear-gradient(35deg,#92eeee,#a66efa);
  display: inline-block;
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 2.5rem 0 10rem;
  animation: FourOhFour-module--gradient--rImbh 2s ease infinite;
}